<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<!-- 引用模块插件 -->
	<script type="text/html" id="quote_view">
            <div class="quote">			
				<p style="padding:24px;font-size:18px">点击编辑[引用模块]</p>           
            </div>
	</script>
	<!-- 引用模块插件编辑 -->
	<script type="text/html" id="quote_edit">	
			<div class="removePlugIn removePlugIn_icon" data-plugInUuid="{{plugInUuid}}"></div>
            <h2 class="plugIn_name">引用模块</h2> 
			<div class="yui_form_wrap">
					<p class="input_lable">模块编号：</p>
					<div class="input_wrap">	
						<div class="form_one">{{identity}}</div>
					</div>
			</div>	
			<div class="yui_form_wrap">
				<div class="quote_page">
					{{if relatedWeiPageIdStr}}
						<span class="title_btn">{{weiPageTitle(relatedWeiPageTitle,relatedWeiPageInfo)}}</span>								
						<span class="option_blue_btn" data-type="quote" data-plugIn="plugIn">修改</span>
					{{else}}
						<span class="option_blue_btn" data-type="quote" data-plugIn="plugIn">+引用模块</span>
					{{/if}}					
				</div>
			</div>
	</script>
</body>
</html>